table {
    border-collapse: collapse;
    background-color: yellow;
}
td {
    border: 2px solid;
    border: 2px dashed;
}
table {
    width: 50%;
}
.edad_peso {
    color: red;
    font-style: italic;
    border: 2px dashed black;
}
.e_p {
    font-weight: bold;
}
.border {
    border-bottom: 3px dotted red;
}