.titulo {
    margin-left: 30px;
}
p {
    margin-left: 25px;
}
#t1 {
    border-bottom: 2px solid;
    color: green;
}
#t2 {
    color: red;
}
#t3 {
    border-bottom: 2px solid;
    border-top: 2px solid;
}
#t4 {
    font-size: 40px;
    font-weight: bolder;
}
#t5 {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}
#t6 {
    font-size: 20px;
    font-weight: bold;
    color: red;
    border-bottom: 3px solid;
}