.navi {
    background-color: #d6afdc;
}
.navi ul {
    display: inline-flex;
}
.navi li {
    padding: 10px;
    list-style: none;
}
.navi li:hover {
    background-color: blue;
}
.navi a {
    color: white;
    font-size: 20px;
}